<h1>Genres</h1>

<p class="text-muted"><%= @genres.total_count %> genre(s) found</p>

<div class="row">
  <% @genres.each do |genre| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= link_to genre.name, genre_path(genre) %></h5>
          <% if genre.description %>
            <p class="card-text"><%= truncate(genre.description, length: 100) %></p>
          <% end %>
          <p class="card-text">
            <span class="badge bg-info"><%= genre.albums.count %> album(s)</span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @genres %>
</div>
